
name: CI

on:
    push:
        branches: [ master ]
    
jobs:
   
    build-node:
        defaults:
            run: 
                working-directory: ./frontend
        runs-on: ubuntu-latest
        container: node:16       
        steps:
          - uses: actions/checkout@v3
          - run: npm install
          - run: npm run build --if-present
          - run: npx next start
    
